@CHARSET "UTF-8";

#connexion{
    width:600px;
    height: 200px;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

.barre{
	display:inline;
}


panelGrid{
	cellpadding:10px;
	border:none;
}